.container {
    margin: 0 auto;
    max-width: 567px;
    padding: 0 30px 0 30px;
    @media (min-width: $breakpoint-md) {
        max-width: 970px;
    }
    @media (min-width: $breakpoint-lg) {
        max-width: 1170px;
    }
    @media (min-width: $breakpoint-xl) {
        padding: 0;
    }
}

.wrapper {
    background: $black;
}

.header-wrapper {
    background: $black-header;
}

.aperture-wrapper {
    min-height: 100vh;
    background: url('../images/bg1.jpg') no-repeat 50%/ cover;
    position: relative;
}

.mount-wrapper {
    min-height: 100vh;
    background: url('../images/mount.jpg') no-repeat 50%/ cover;
    position: relative;
}

.leafs-wrapper {
    min-height: 100vh;
    background: url('../images/leafs.jpg') no-repeat 50%/ cover;
    position: relative;
}

.starfall-wrapper {
    min-height: 100vh;
    background: url('../images/starfall.jpg') no-repeat 50%/ cover;
    position: relative;
}