.header {

    &__head {
        padding: 30px 0 29px 0;
        display: flex;
        justify-content: space-between;
        font-family: 'Poppins';
        vertical-align: middle;
        align-items: center;
        gap: 50px;
        @media (min-width: $breakpoint-md) {
            gap: unset;
        }
    }

    &__logo-link {
        display: block;
    }

    &__logo-icon {
        max-width: 64px;
        max-height: 16px;
        @media (min-width: $breakpoint-lg) {
            max-width: 128px;
            max-height: 31px;
        }
    }

    &__navigation {
        position: fixed;
        z-index: 10;
        bottom: 0;
        left: 50%;
        transform: translate(-50%, 101%);
        width: 90%;
        text-align: center;
        background: $black;
        color: $white;
        padding-top: 30px;

        &.active {
            transform: translateX(-50%, );

        }

        @media (min-width: $breakpoint-md) {
            position: static;
            background: none;
            padding: 0;
            transform: unset;
            width: auto;
        }
        @media (min-width: $breakpoint-md) {
            display: flex;
            gap: 56px;
            vertical-align: middle;
            align-items: center;
            transform: unset;
        }
    }

    &__business-link {
        text-decoration: none;
        color: $white;
        font-size: 13px;
        
    }

    &__nav-list {
        
        @media (min-width: $breakpoint-md) {
            display: flex;
            align-items: center;
            gap: 32px;
        }
    }

    &__nav-list-item {
        margin: 15px;
        @media (min-width: $breakpoint-md) {
            margin: 0;
        }
    }

    &__nav-list-item-link {
        text-decoration: none;
        color: $white;
        font-size: 15px;
        
    }

    &__nav-list-item-link-button {
        display: block;
        padding: 13px 20px;
        border-radius: 14px;
        text-decoration: none;
        color: $black;
        background: $white;
        font-size: 16px;
        max-width: 155px;
        margin: 0 auto;
        @media (min-width: $breakpoint-md) {
            margin: 0;
        }
    }

    &__burger {
        width: 25px;
        height: 20px;
        border-top: 2px solid $white;
        border-bottom: 2px solid $white;
        position: relative;

        &::before {
            content: '';
            position: absolute;
            top: 50%;
            transform: translateY(-50%);
            left: 0;
            width: 25px;
            height: 2px;
            background: $white;
        }

        @media (min-width: $breakpoint-md) {
            display: none;
        }
    }

    &__nav-close {
        position: relative;
        top: -40px;
        left: 95%;
        
        &::before {
            position: absolute;
            content: '';
            top: 0px;
            left: 0px;
            width: 15px;
            height: 2px;
            transform: rotate(38deg);
            background: $white;
        }
        &::after {
            position: absolute;
            content: '';
            top: 0px;
            left: 0px;
            width: 15px;
            height: 2px;
            transform: rotate(-38deg);
            background: $white;
        }

        @media (min-width: $breakpoint-md) {
            display: none;
        }
    }
}
