.what {

    // .what__title

    &__title {
        padding-top: 112px;
        color: $white;
        font-size: 40px;
        font-family: 'Poppins';
        text-align: center;
    }

    // .what__subtitle

    &__subtitle {
        text-align: center;
        color: $font-color;
        font-size: 23px;
        font-family: 'Poppins';
        margin-top: 15px;
    }

    // .what__cards

    &__cards {
        margin-top: 42px;
        padding-bottom: 100px;
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        justify-content: center;
        gap: 16px;
        @media (min-width: $breakpoint-md) {
            flex-direction: row;
            gap: 16px;
        }
    }

    // .what__card-1

    &__card-1 {
        background: url('../images/what1.jpg') no-repeat 50%/ cover;
        max-width: 576px;
        max-height: 600px;
        padding: 221px 30px 30px 30px;
        @media (min-width: $breakpoint-md) {
            padding: 421px 30px 30px 30px;
        }
    }

    // .what__card-title

    &__card-title {
        //margin-top: 421px;
        color: $white;
        font-size: 20px;
        font-family: 'Poppins';
    }

    // .what__card-subtitle

    &__card-subtitle {
        font-size: 14px;
        line-height: 20px;
        margin-top: 10px;
        color: $font-color;
    }

    // .what__card-btn

    &__card-btn {
        padding-bottom: 30px;
    }

    // .what__card-btn-link

    &__card-btn-link {
        display: inline-block;
        text-decoration: none;
        color: $black;
        font-family: 'Poppins';
        font-size: 20px;
        background: $white;
        padding: 9px 10px 13px 42px;
        border-radius: 14px;
        position: relative;
        margin-top: 15px;
        //margin-bottom: 30px;
        &::before {
            content: '';
            position: absolute;
            top: 50%;
            transform: translateY(-50%);
            left: 5px;
            width: 30px;
            height: 30px;
            background: $black;
            border-radius: 10px;
        }
    }

    // .what__card-2

    &__card-2 {
        background: url('../images/what2.jpg') no-repeat 50%/ cover;
        max-width: 576px;
        max-height: 600px;
        padding: 221px 30px 30px 30px;
        @media (min-width: $breakpoint-md) {
            padding: 421px 30px 30px 30px;
        }
    }

    // .what__card-3

    &__card-3 {
        background: url('../images/what3.jpg') no-repeat 50%/ cover;
        max-width: 576px;
        max-height: 600px;
        padding: 221px 30px 30px 30px;
        @media (min-width: $breakpoint-md) {
            padding: 421px 30px 30px 30px;
        }
    }

    // .what__card-4

    &__card-4 {
        background: url('../images/what4.jpg') no-repeat 50%/ cover;
        max-width: 576px;
        max-height: 600px;
        padding: 221px 30px 30px 30px;
        @media (min-width: $breakpoint-md) {
            padding: 421px 30px 30px 30px;
        }
    }
}